@import 'variables'

*
  box-sizing border-box
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
body
  background-color $bg-color
  color $body-color
  font-family -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
  margin 0
  padding 0
  line-height 2
a:not(.button)
  color $link-light
  text-decoration none
  &:hover
    opacity .8
img
  max-width 100%
  