// FONTS
$base-font-size = 18px
$big = 26px

// COLORS
$lavender = #FCF4F8
$blue-france = #3C91E6
$charcoal = #344055
$brown = #251101
$scarlett = #470024


$bg-color = $lavender
$bg-content-color = #fff
$bg-code = #fffbf3
$body-color = #444
$title-color = #173953
$link-color = #274690
$link-light = #3C91E6
$border-color = rgba(0,0,0,.1)
$space = 2.5em
$s-space = 1em
$content-width = 860px
$header-height = 80px
$radius = 5px